{% extends "people/base.html" %}

{% block title %} People Data Sets {% endblock %}

{% block content %}
<h1>Data sets</h1>
<button id="fetch-button" type="button" class="btn btn-primary">Fetch</button>

<ul id="dataset-container" class="list-group">
{% for dataset in datasets %}
  <li class="list-group-item">
    <a href="{% url 'people:list' dataset.id %}">{{ dataset.created }}</a>
  </li>
{% empty %}
  <li id="empty-list-msg" class="list-group-item">Sorry, no datasets in this list.</li>
{% endfor %}
</ul>

{% endblock %}


{% block script %}

$(document).ready(function() {
  $("#fetch-button").click(function() {
    var data = {
      'csrfmiddlewaretoken': "{{ csrf_token }}"
    };
    $("#fetch-button").prop('disabled', true);
    var jqxhr = $.post("{% url 'people:fetch' %}", data, function(data) {
      if (data.error == '') {
        location.reload();
      } else {
        alert(data.error);
      }
    })
    .fail(function() {
      alert("An error occured, try later.");
    })
    .always(function() {
      $("#fetch-button").prop('disabled', false);
    });
  });
});

{% endblock %}
