{% extends "people/base.html" %}

{% block title %} People Data Sets {% endblock %}

{% block content %}

<h1><a href="{% url 'people:list' dataset.id %}">{{dataset.created}}</a></h1>

<form id="groupForm" action="{% url 'people:value_count' dataset.id %}" method="get">
  <div id="group-cols" class="btn-group btn-group-toggle" data-toggle="buttons">
    {% for name, checked in group_cols.items %}
    <label class="btn btn-outline-info">
      <input type="checkbox" name="groupCol" value="{{name}}" {% if checked %} checked {% endif %} autocomplete="off">
        {{ name }}
      </label>
      {% endfor %}
  </div>
</form>

{% if dataset %}
  <table class="table">
    <thead>
      <tr>
        {% for heading in dataset.header %}
        <th scope="col">{{heading}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in dataset.records %}
        <tr>
          {% for value in row %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
  <ul class="list-group">
    <li class="list-group-item">Sorry, no people in this list.</li>
  </ul>
{% endif %}

{% endblock %}


{% block script %}

$(document).ready(function() {
  var groupColsTimeout;
  $("#group-cols").click(function() {
    clearTimeout(groupColsTimeout);
    groupColsTimeout = setTimeout(function() {
      $("#groupForm").submit();
    }, 750);
  });
});

{% endblock %}
