{% extends "people/base.html" %}

{% block title %} People Data Sets {% endblock %}

{% block content %}
<h1>{{dataset.created}}</h1>
{% if dataset %}
  <table class="table">
    <thead>
      <tr>
        {% for heading in dataset.header %}
        <th scope="col">
          <a href="{% url 'people:value_count' dataset.id %}?groupCol={{heading}}">{{heading}}</a>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in dataset.records %}
        <tr>
          {% for value in row %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% if load_more_url %}
    <a class="btn btn-outline-primary" href="{{load_more_url}}" role="button">Load More</a>
  {% endif %}
{% else %}
  <ul class="list-group">
    <li class="list-group-item">Sorry, no people in this list.</li>
  </ul>
{% endif %}

{% endblock %}
